[submodule "models/atomgpt"]
	path = models/atomgpt
	url = git@github.com:crhysc/atomgpt.git
[submodule "models/cdvae"]
	path = models/cdvae
	url = git@github.com:crhysc/cdvae.git
[submodule "models/flowmm"]
	path = models/flowmm
	url = git@github.com:crhysc/flowmm.git
